body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flexbox;
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #c0392b;
}

h2 {
    color: #000000;
}

.story {
    margin-top: 20px;
}

.text-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.text {
    width: 70%;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.text-image img {
    width: 30%;
    height: auto;
    margin-left: 20px;
    border-radius: 20px;
    padding: 20px;
}
 
.strikethrough {
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .text-image {
        flex-direction: column;
    }

    .text-image img {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .text {
        width: 100%;
    }
}